.error-message {
    color: red;
    font-weight: bold;
    margin-top: 5px;
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 5px;
}

.btn-center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.fieldsError {
    color: red;
    font-weight: bold;
}

#submit-button:hover {
    background-color: hotpink; /* Change to hot pink color */
}